<ion-header>
  <ion-toolbar>
      <ion-buttons left>
          <button ion-button icon-only (click)="pop()">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background: #563ada;">

    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <img src="assets/icon/b1.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/icon/b2.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/icon/b3.jpg">
        </ion-slide>
      </ion-slides>


    <ion-grid>
        <ion-row>
         <!-- Segment buttons with the first checked and the last disabled -->
            <ion-segment>
                <ion-segment-button>
                  <ion-label>  Now SHOWING</ion-label>
                </ion-segment-button>
                <ion-segment-button>
                  <ion-label>  COMING SOON</ion-label>
                </ion-segment-button >
                <ion-segment-button>
                  <ion-label>OFFERS</ion-label>
                </ion-segment-button>
              </ion-segment>  
        </ion-row> 


        <!--card start-->
        <ion-card>
            <ion-row> 
                <ion-col size="3">
                  <img src="assets/icon/1.jpg"/>
                </ion-col>
                <ion-col  size="9">
                  <ion-row>
                    <ion-col size="8">
                    <ion-card-title>  Kesari  </ion-card-title>  
                    <ion-card-subtitle>Akshay Kumar | Parineeti...</ion-card-subtitle>
                    <ion-card-subtitle>Hindi</ion-card-subtitle> 
                    <ion-badge color="light">3D</ion-badge> &nbsp;&nbsp;&nbsp;&nbsp; <ion-badge color="light">U/A</ion-badge>
                  </ion-col>
                  <ion-col style="vertical-align:middle;margin-top: 20px;">
                    <ion-button color="warning">Book</ion-button>
                  </ion-col>
                  </ion-row>
                </ion-col> 
            </ion-row>
        </ion-card>
  
        <!--card end-->



         <!--card start-->
         <ion-card>
            <ion-row> 
                <ion-col size="3">
                  <img src="assets/icon/2.jpg"/>
                </ion-col>
                <ion-col  size="9">
                  <ion-row>
                    <ion-col size="8">
                    <ion-card-title>  Dragon  </ion-card-title>  
                    <ion-card-subtitle>Akshay Kumar | Parineeti...</ion-card-subtitle>
                    <ion-card-subtitle>Hindi</ion-card-subtitle> 
                    <ion-badge color="light">3D</ion-badge> &nbsp;&nbsp;&nbsp;&nbsp; <ion-badge color="light">U/A</ion-badge>
                  </ion-col>
                  <ion-col style="vertical-align:middle;margin-top: 20px;">
                    <ion-button color="warning">Book</ion-button>
                  </ion-col>
                  </ion-row>
                </ion-col> 
            </ion-row>
        </ion-card>
  
        <!--card end-->


        <!--card start-->
        <ion-card>
            <ion-row> 
                <ion-col size="3">
                  <img src="assets/icon/3.jpg"/>
                </ion-col>
                <ion-col  size="9">
                  <ion-row>
                    <ion-col size="8">
                    <ion-card-title>  BADLA  </ion-card-title>  
                    <ion-card-subtitle>Akshay Kumar | Parineeti...</ion-card-subtitle>
                    <ion-card-subtitle>Hindi</ion-card-subtitle> 
                    <ion-badge color="light">3D</ion-badge> &nbsp;&nbsp;&nbsp;&nbsp; <ion-badge color="light">U/A</ion-badge>
                  </ion-col>
                  <ion-col style="vertical-align:middle;margin-top: 20px;">
                    <ion-button color="warning">Book</ion-button>
                  </ion-col>
                  </ion-row>
                </ion-col> 
            </ion-row>
        </ion-card>
  
        <!--card end-->


         <!--card start-->
         <ion-card>
            <ion-row> 
                <ion-col size="3">
                  <img src="assets/icon/4.jpg"/>
                </ion-col>
                <ion-col  size="9">
                  <ion-row>
                    <ion-col size="8">
                    <ion-card-title>  MARVEL  </ion-card-title>  
                    <ion-card-subtitle>Akshay Kumar | Parineeti...</ion-card-subtitle>
                    <ion-card-subtitle>Hindi</ion-card-subtitle> 
                    <ion-badge color="light">3D</ion-badge> &nbsp;&nbsp;&nbsp;&nbsp; <ion-badge color="light">U/A</ion-badge>
                  </ion-col>
                  <ion-col style="vertical-align:middle;margin-top: 20px;">
                    <ion-button color="warning">Book</ion-button>
                  </ion-col>
                  </ion-row>
                </ion-col> 
            </ion-row>
        </ion-card>
  
        <!--card end-->


        <!--card start-->
        <ion-card>
            <ion-row> 
                <ion-col size="3">
                  <img src="assets/icon/5.jpg"/>
                </ion-col>
                <ion-col  size="9">
                  <ion-row>
                    <ion-col size="8">
                    <ion-card-title>  BALA  </ion-card-title>  
                    <ion-card-subtitle>Akshay Kumar | Parineeti...</ion-card-subtitle>
                    <ion-card-subtitle>Hindi</ion-card-subtitle> 
                    <ion-badge color="light">3D</ion-badge> &nbsp;&nbsp;&nbsp;&nbsp; <ion-badge color="light">U/A</ion-badge>
                  </ion-col>
                  <ion-col style="vertical-align:middle;margin-top: 20px;">
                    <ion-button color="warning">Book</ion-button>
                  </ion-col>
                  </ion-row>
                </ion-col> 
            </ion-row>
        </ion-card>
  
        <!--card end-->


        <!--card start-->
        <ion-card>
            <ion-row> 
                <ion-col size="3">
                  <img src="assets/icon/6.jpg"/>
                </ion-col>
                <ion-col  size="9">
                  <ion-row>
                    <ion-col size="8">
                    <ion-card-title>  MARD KO DARD  </ion-card-title>  
                    <ion-card-subtitle>Akshay Kumar | Parineeti...</ion-card-subtitle>
                    <ion-card-subtitle>Hindi</ion-card-subtitle> 
                    <ion-badge color="light">3D</ion-badge> &nbsp;&nbsp;&nbsp;&nbsp; <ion-badge color="light">U/A</ion-badge>
                  </ion-col>
                  <ion-col style="vertical-align:middle;margin-top: 20px;">
                    <ion-button color="warning">Book</ion-button>
                  </ion-col>
                  </ion-row>
                </ion-col> 
            </ion-row>
        </ion-card>
  
        <!--card end-->
















        <!--card start-->
        <ion-card>
          <ion-row> 
              <ion-col size="6">
                <img src="assets/icon/1.jpg"/>
              </ion-col>
              <ion-col  size="6">
                  <ion-item>
                      <ion-label>
                        85%
                      </ion-label>
                      <ion-icon name="heart" size="large" slot="end" class="main"></ion-icon>
                    </ion-item> 
                    <ion-item>
                      <ion-label>
                       Kesara
                      </ion-label>
                      <ion-icon name="videocam" size="large" slot="end" class="main"></ion-icon>
                    </ion-item> 
                    <ion-item>
                      <ion-label>
                          UA | Hindi | Drama
                      </ion-label> 
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star-half" class="gold"></ion-icon>
                            <ion-icon name="star-outline" class="gold"></ion-icon>
                        </ion-label>
                        
                      </ion-item> 
                      <ion-item>
                        <ion-label>
                            <ion-button class="btn-main" size="block"> 
                                Book Ticket
                              </ion-button>
                        </ion-label>
                       </ion-item>

              </ion-col> 
          </ion-row>
      </ion-card>

      <!--card end-->

      <!--card start-->
      <ion-card>
          <ion-row> 
              <ion-col size="6">
                <img src="assets/icon/2.jpg"/>
              </ion-col>
              <ion-col  size="6">
                  <ion-item>
                      <ion-label>
                        84%
                      </ion-label>
                      <ion-icon name="heart" size="large" slot="end" class="main"></ion-icon>
                    </ion-item> 
                    <ion-item>
                      <ion-label>
                       Dragon
                      </ion-label>
                      <ion-icon name="videocam" size="large" slot="end" class="main"></ion-icon>
                    </ion-item> 
                    <ion-item>
                      <ion-label>
                          UA | English | Cartoon
                      </ion-label> 
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star-half" class="gold"></ion-icon>
                             
                        </ion-label>
                        
                      </ion-item> 
                      <ion-item>
                        <ion-label>
                            <ion-button  class="btn-main" size="block"> 
                                Book Ticket
                              </ion-button>
                        </ion-label>
                       </ion-item>

              </ion-col> 
          </ion-row>
      </ion-card>

      <!--card end-->

       <!--card start-->
       <ion-card>
          <ion-row> 
              <ion-col size="6">
                <img src="assets/icon/3.jpg"/>
              </ion-col>
              <ion-col  size="6">
                  <ion-item>
                      <ion-label>
                        73%
                      </ion-label>
                      <ion-icon name="heart" size="large" slot="end" class="main"></ion-icon>
                    </ion-item> 
                    <ion-item>
                      <ion-label>
                       Badla
                      </ion-label>
                      <ion-icon name="videocam" size="large" slot="end" class="main"></ion-icon>
                    </ion-item> 
                    <ion-item>
                      <ion-label>
                          UA | Hindi | Cartoon
                      </ion-label> 
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star" class="gold"></ion-icon> 
                            <ion-icon name="star-half" class="gold"></ion-icon>
                            <ion-icon name="star-outline" class="gold"></ion-icon>
                            <ion-icon name="star-outline" class="gold"></ion-icon>
                        </ion-label>
                        
                      </ion-item> 
                      <ion-item>
                        <ion-label>
                            <ion-button  class="btn-main" size="block"> 
                                Book Ticket
                              </ion-button>
                        </ion-label>
                       </ion-item>

              </ion-col> 
          </ion-row>
      </ion-card>

      <!--card end-->


       <!--card start-->
       <ion-card>
          <ion-row> 
              <ion-col size="6">
                <img src="assets/icon/4.jpg"/>
              </ion-col>
              <ion-col  size="6">
                  <ion-item>
                      <ion-label>
                        64%
                      </ion-label>
                      <ion-icon name="heart" size="large" slot="end" class="main"></ion-icon>
                    </ion-item> 
                    <ion-item>
                      <ion-label>
                       Marvel
                      </ion-label>
                      <ion-icon name="videocam" size="large" slot="end" class="main"></ion-icon>
                    </ion-item> 
                    <ion-item>
                      <ion-label>
                          UA | English | Action
                      </ion-label> 
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star-half" class="gold"></ion-icon>
                             
                        </ion-label>
                        
                      </ion-item> 
                      <ion-item>
                        <ion-label>
                            <ion-button  class="btn-main" size="block"> 
                                Book Ticket
                              </ion-button>
                        </ion-label>
                       </ion-item>

              </ion-col> 
          </ion-row>
      </ion-card>

      <!--card end-->


       <!--card start-->
       <ion-card>
          <ion-row> 
              <ion-col size="6">
                <img src="assets/icon/5.jpg"/>
              </ion-col>
              <ion-col  size="6">
                  <ion-item>
                      <ion-label>
                        64%
                      </ion-label>
                      <ion-icon name="heart" size="large" slot="end" class="main"></ion-icon>
                    </ion-item> 
                    <ion-item>
                      <ion-label>
                       Bala
                      </ion-label>
                      <ion-icon name="videocam" size="large" slot="end" class="main"></ion-icon>
                    </ion-item> 
                    <ion-item>
                      <ion-label>
                          UA | Kannada | Action
                      </ion-label> 
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star-half" class="gold"></ion-icon>
                             
                        </ion-label>
                        
                      </ion-item> 
                      <ion-item>
                        <ion-label>
                            <ion-button  class="btn-main" size="block"> 
                                Book Ticket
                              </ion-button>
                        </ion-label>
                       </ion-item>

              </ion-col> 
          </ion-row>
      </ion-card>

      <!--card end-->


      <!--card start-->
      <ion-card>
          <ion-row> 
              <ion-col size="6">
                <img src="assets/icon/6.jpg"/>
              </ion-col>
              <ion-col  size="6">
                  <ion-item>
                      <ion-label>
                        64%
                      </ion-label>
                      <ion-icon name="heart" size="large" slot="end" class="main"></ion-icon>
                    </ion-item> 
                    <ion-item>
                      <ion-label>
                       Mard Ko Dard
                      </ion-label>
                      <ion-icon name="videocam" size="large" slot="end" class="main"></ion-icon>
                    </ion-item> 
                    <ion-item>
                      <ion-label>
                          UA | Hindi | Action
                      </ion-label> 
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star" class="gold"></ion-icon>
                            <ion-icon name="star-half" class="gold"></ion-icon>
                             
                        </ion-label>
                        
                      </ion-item> 
                      <ion-item>
                        <ion-label>
                            <ion-button  class="btn-main" size="block"> 
                                Book Ticket
                              </ion-button>
                        </ion-label>
                       </ion-item>

              </ion-col> 
          </ion-row>
      </ion-card>

      <!--card end-->


        </ion-grid>
</ion-content>
